
	body
	{
		display :grid;
		grid-template-columns: 	1fr;
		grid-template-areas: 	"nav"
								"main"
								"footer";
	}


	@media (min-width: 10em)
	{
		body
		{
			display :grid;
			grid-template-columns: 	1fr;
			grid-template-areas: 	"nav"
									"main"
									"footer";
		}
		
		nav ul 
		{
			display: flex;
			justify-content: space-between;
		} 
	}





