
	@media (min-width: 50em)
	{
		body
		{
			grid-template-columns: 	10em 1fr;
			grid-template-areas: 	"nav header"
									"nav  main"
									"nav  footer";
		}
		
		nav ul
		{
			display :grid;
			justify-content: space-between;
		} 
	}





